services:
  db:
    container_name: postgres-spring
    image: postgres:latest
    environment:
      POSTGRES_USER: brunobrsr
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
        - postgres_data:/var/lib/postgresql/data
    ports:
        - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U brunobrsr"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
